<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <nav>
      <a href="http://localhost:3000/project">Project Info</a> &bull;
      <a href="http://localhost:3000/about">About Me</a> &bull;
      <a href="http://localhost:3000/contact">Contact Info</a> &bull;
      <a href="http://localhost:3000/family">My Family</a> &bull;
      <a href="http://localhost:3000/hobbies">My Hobbies</a> &bull;
      <a href="http://localhost:3000/join">Join Us</a> &bull;
      <a href="http://localhost:3000/coffee">Brew Coffee</a> &bull;
      <a href="http://localhost:3000/blank">Blank Page</a>
    </nav>
    <h1>Hello World</h1>
    <p>
      This is my html file <br />
      Check out the links above to navigate <br />
      "Blank Page" will not display but inspect the network activity for
      response
    </p>
    <h3>Joke of the day</h3>
    <p class="jokes"></p>
  </body>
</html>
