<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project</title>
  </head>
  <body>
    <h1>Project Information</h1>
    <p>Course Name: Full Stack Javascript</p>
    <p>Instructor: Peter Rawsthorn</p>
    <p>Project Title: QAP 2</p>
    <p>Student Name: Dominic Whelan</p>
    <a href="http://localhost:3000/">HOME</a>
  </body>
</html>
